body
{
	margin: 0%;
	
background: linear-gradient(349deg, #c9ffb0, #d7b5ff, #fbd252);
background-size: 600% 600%;

-webkit-animation: AnimationName 18s ease infinite;
-moz-animation: AnimationName 18s ease infinite;
-o-animation: AnimationName 18s ease infinite;
animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.upper_header
{
	background-color: #1558c4;
	height: 30px;
	color: whitesmoke;
	padding-left: 40px;
	font-family: 'Libre Baskerville', serif;
	font-size: 13px;
	line-height: 30px;
}

.lower_header
{
	background-color: #f7f7f7;
	height: 60px;
}

.logo
{
	width: 300px;
	text-align: left;
	margin-left: 30px;
	float: left;
}

.logo2
{
	width: 250px;
	height: 60px;
}

.menu
{
	float: left;
	width: 900px;
	height: 50px;
	margin-top: 5px;
}

.option
{
	float: left;
	width: 197px;
	text-align: center;
	line-height: 50px;
	font-size: 28px;
	padding-left: 15px;
	margin-left: 10px;
	background-color: #d3cdcd;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);
}

.option:hover
{
	color: #071935;
	cursor: pointer;
	background: linear-gradient(276deg, #baff30, #af6aff, #ff6b34, #ff34b0);
	background-size: 300% 300%;
	color:white;
}

.container
{
	width: 90%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.baner
{
	text-align: center;
}

.baner1
{
	width: 100%;
	height: 250px;
	opacity: 0.7;
}

.baner1:hover
{
	opacity: 1.0;
}

.mainReg
{
	width: 500px;
	min-height: 500px;
	margin-top: 65px;
  font-size: 26px;
  text-align: left;
  margin-left: 500px;
  font-family: 'Noto Serif', serif;
}

.placeReg
{
  width: 380px;
  height: 38px;
  border: 2px solid #138cb5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.submitReg
{
  width: 380px;
  height: 40px;
  margin-top: 15px;
  background-color: #138cb5;
  border: 2px solid #138cb5;
  border-radius: 5px;
  font-size: 20px;
}

.submit1:hover
{
  background-color: #3cccfc;
  border: 2px solid #3cccfc;
  cursor: pointer;
}

.main
{
  background-image: url("../files_front/images/symphony.png")
}

.welcome
{
	font-size: 65px;
	text-align: center;
	height: 80px;
	margin-top: 15px;
	line-height: 100px;
	font-family: 'Vollkorn', serif;
	color: #13075e;
}

.welcome2
{
	text-align: center;
	height: 25px;
	color: #232efc;
	font-size: 25px;
}

.register
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	height: 120px;
	width: 400px;
	text-align: center;
	line-height: 120px;
	font-size: 69px;
	border: 4px solid blue;
	border-radius: 13px;
	color: #232efc;
}

.register:hover
{
	cursor: pointer;
	background-color: #c5c8f9;
}

.about
{
	margin-top: 80px;
	height: 300px;
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

.about_cell
{
	width: 348px;
	height: 300px;
	float: left;
}

#about_cell_medium
{
	border-left: 3px solid gray;
	border-right: 3px solid gray;
}

.about_header
{
	font-size: 35px;
	text-align: center;
}

.about_logo
{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.about_text
{
	font-size: 20px;
	text-align: center;
}

.footer
{
	height: 20px;
	background-color: black;
	font-size: 15px;
	color: white;
	text-align: center;
}

/*----------------------------------------------------*/

.logout
{
	color: white;
}

.index_main
{
	width: 1250px;
	min-height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.waluty
{
	background-image: url("images/confectionary.png");
	width: 300px;
	min-height: 1000px;
	float: left;
	margin-right: 15px;
}

.kursy
{
	width: 614px;
	min-height: 1000px;
	float: left;
	background-image: url("images/confectionary.png");
	-webkit-clip-path: polygon(6% 0, 100% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 5%);
clip-path: polygon(6% 0, 100% 0, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 5%);
}

.paginate
{
 width: 300px;
 height: 30px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 font-size: 31px;
 text-align: center;
 font-weight: 700;
}

.paginate a
{
 color: black;
 text-decoration: none;
}

.history_table
{
 min-width: 800px;
 min-height: 500px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 17px;
}

.history_table tr
{
 text-align: center;
 font-size: 17px;
}

.news
{
	background-image: url("images/confectionary.png");
	width: 300px;
	min-height: 1000px;
	float: left;
	margin-left: 15px;
}

.one_news
{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	text-align: left;
	font-family: "Times New Roman",Serif;
	border-bottom: 1px solid black;
}

.one_news_a
{
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	color: #303093;
}

.headers_index
{
	text-align: center;
	font-size: 30px;
	color: #070647;
	margin-top: 10px;	
	border-bottom: 1.5px solid #303093;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.stack_table
{
	margin-left: 20px;
	width: 280px;
	font-size: 20px;
	margin-top: 25px;
	font-family: 'Lora', serif;
}

.stack_table_row
{
	text-align: center;
	height: 35px;
}

.stack_table_td
{
	font-weight: bold;
	border-bottom: 2px solid #303093;
}

.sell
{
	width: 52px;
	height: 24px;
	background-color: #fc717a;
	font-size: 14px;
	border: none;
	padding: 3px;
	-webkit-clip-path: polygon(21% 0, 100% 0, 100% 20%, 100% 100%, 100% 93%, 0 93%, 0 84%, 0 21%);
clip-path: polygon(21% 0, 100% 0, 100% 20%, 100% 100%, 100% 93%, 0 93%, 0 84%, 0 21%);
}

.sell:hover
{
	cursor: pointer;
	background-color: #f93b48;
}

.rates_table
{
	margin-left: 50px;
	font-size: 18px;
	width: 500px;
	text-transform: capitalize;
	margin-right: auto;
}

.rates_table tr:hover
{
	background-color: rgba(106, 232, 64, 0.36)
}

.rates_table_td_rate
{
	font-size: 21px;
	border-bottom: 1px solid #303093;
	text-align: center;
}

.rates_table_td_name
{
	font-family: 'Lora', serif;
}

.rates_table_td_change{
	font-size: 15px;
	text-align: center;
	width: 100px;
}

.rates_table_td_arrow{
	padding-left: 15px;
}

.buy
{
	width: 52px;
	height: 24px;
	background-color: #2ef47a;
	font-size: 14px;
	padding: 3px;
	text-align: center;
	margin-left: 35px;
	-webkit-clip-path: polygon(21% 0, 100% 0, 100% 20%, 100% 100%, 100% 93%, 0 93%, 0 84%, 0 21%);
clip-path: polygon(21% 0, 100% 0, 100% 20%, 100% 100%, 100% 93%, 0 93%, 0 84%, 0 21%);
	border: none;
}

.buy:hover
{
	cursor: pointer;
	background-color: #04d353;
}

.count
{
	width: 50px;
	margin-left: 15px;
}





